.food-card {
    width: 45%;
    max-width: 300px;

    margin: 10px;

    background-color: white;
    border: 1px solid #eee;
    border-radius: 15px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.food-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}


img {
    width: 100%;
    max-width: 220px;
    height: auto;
    border-radius: 10px;
}

.order {
    display: inline-block;
    margin-top: 10px;
    background-color: #ff4757;
    color: white;
    padding: 8px 25px;
    text-decoration: none;
    border-radius: 20px;
    font-size: 14px;

}

.cart-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #77a9d8;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    box-sizing: border-box;

}

body {
    padding-bottom: 150px;
}

#total-count,
#total-price {
    color: #ffa502;
    font-size: 22px;
}

.checkout-btn {
    background-color: #2ecc71;
    color: white;
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
}

.success-container {
    text-align: center;
    margin-top: 100px;
    padding: 20px;
}

.success-icon {
    width: 80px;
    height: 80px;
    background-color: #2ecc71;
    color: white;
    font-size: 50px;
    line-height: 80px;
    border-radius: 50%;
    margin: 0 auto 20px;
}

.back-btn {
    display: inline-block;
    margin: 20px;
    padding: 12px 30px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 25px;
}
